@import url('https://fonts.googleapis.com/css?family=Fira+Sans');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}


.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-left: 280px;
    -webkit-transition: padding-left 0.3s ease 0s;
    transition: padding-left 0.3s ease 0s;
}

.main-content {
    width: 100%;
    background-color: #f0f0f0;
}

.main-content-inner {
    padding: 0 30px 50px;
}

.sidebar-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 280px;
    overflow: hidden;
    background: #303641;
    box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.sidebar-header {
    padding: 50px 0 20px 0;
}

.sidebar-menu .logo {
    text-align: center;
}

.logo a {
    display: inline-block;
}

.logo img{
    max-width: 120px;
}

.side-nav-wrapper{
    height: 100vh;
}

.side-nav_list {
    margin: 0 25px;
  }
  
  .side-nav_list li {
    list-style: none;
    margin: 25px 0;
  }
  
  .side-nav_list li:hover {
    color: #fff !important;
  }
  
  .side-icons {
    font-size: 22px;
    padding: 0;
    margin: 0;
    color: #b4baca;
    margin-right: 10px;

  }
  
  .side-nav_links {
    color: #b4baca;
    font-size: 17px;
    font-weight: 500;
    /* margin: 0 10px; */
    text-decoration: none;
  }
  
  .footer-wrap {
    position: absolute;
    bottom: 0;
    margin: 0 0 40px 25px;
  }
  
  .copy-text {
    font-size: 10px;
    color: #b4baca;
    padding: 0;
  }
  
  .footer-wrap a {
    color: #b4baca;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-wrap span {
    color: #b4baca;
  }
  
  .footer-wrap a:hover {
    color: #fff;
  }

  .right_topNav {
    box-shadow: 0 10px 6px -6px #777;
    height: 80px;
  }
  
  .topNav_first {
    font-size: 16px;
    text-transform: uppercase;
    color: #86898e;
    flex:1;
    margin: 0 0 0 30px;
  }
  
  .topNav_first span {
    color: #d12d31;
  }
  
  .icon-li {
    margin: 0 3px;
  }
  
  .topNav_name {
    font-size: 14px;
    color: #929196;
    margin-left: 20px;
    cursor: default;
    
  }
  
  .icon-wrap{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 80px;
  }
