* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  /* font-family: "Raleway", sans-serif; */
}

.page-lay {
  max-width: 1170px;
  margin: auto;
}

.page-lay-new {
  max-width: 1140px;
  margin: auto;
}

.name-wrap {
  background-color: #f6c016;
  height: 40px;
}

.name-text {
  float: right;
  font-size: 16px;
  margin: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: auto;
  background: #fff;
}

.navbar-shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.nav-main {
  display: grid !important;
  grid-template-columns: 1fr auto !important;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo-img {
  height: 100px;
  display: block;
  margin: 20px 0 0 20px;
}

.logo-img-down {
  height: 80px;
  max-width: 100%;
  display: block;
  margin: 20px;
}

.club-head-text {
  font-size: 32px;
  color: #363636;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px 20px 10px 0;
  text-transform: uppercase;
  text-align: right;
}

.nav-list li {
  margin: 15px 20px 5px 25px;
  font-size: 22px;
  font-weight: 700;
  color: #2abfd4;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.theme-head {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  list-style: none;
}

.theme-head_text {
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 20px;
  margin: 35px 10px 35px 0;
  letter-spacing: 1px;
  display: block;
}

.theme-head_para {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 15px;
}

.video-section-wrap {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  grid-gap: 2px;
}

.vd_sec {
  background-color: #000;
  color: #fff;
}

.vd_sec div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.first-sec {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 532px;
  height: 462px;
}

.second-sec {
  grid-column: span 2;
  width: 531px;
  height: 261px;
}

.common-sec {
  width: 265px;
  height: 198px;
}

.xplore-section {
  margin: 50px 0;
}
.xperience-section {
  margin: 50px 0;
}

.xpress-section {
  margin: 50px 0;
}
.quiz-section {
  margin: 50px 0;
}

.row-head {
  border-bottom: 5px solid #2abfd4;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}

.row-head-2 {
  border-bottom: 5px solid #f6c016;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}

.row-head-3 {
  border-bottom: 5px solid #4472c4;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}

.row-head-4 {
  border-bottom: 5px solid #000;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}

.row-head-right {
  border-bottom: 5px solid #000;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: left;
  color: #000;
  text-transform: uppercase;
}

.row-para {
  font-size: 18px;
  font-weight: 700;
  text-align: justify;
  margin: 10px 3px;
  color: #696969;
}

.inner-row-sections {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  margin: 40px 0;
}
.inner-row-sections-new {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  margin: 10px 0 10px 0;
  color: #fff;
}

.inner-row-sections-three {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  margin: 20px 0;
}

.inner-row-sections-new-info {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
  margin: 10px 0 10px 0;
  color: #fff;
}

.row-image img {
  height: 150px;
  max-width: 100%;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.row-text-head {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px 0;
}

.row-text-head-second {
  margin: 15px 0 !important;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px 0;
}

.row-text-head-third {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px 0;
}

.row-text-author {
  font-size: 16px;
  font-weight: 900;
  display: inline;
}

.row-text-author-second {
  font-size: 16px;
  font-weight: 900;
  display: inline;
}

.row-text-date {
  font-size: 16px;
  color: #777;
  display: inline;
  margin-left: 15px;
}

.row-text-date-second {
  font-size: 16px;
  color: #777;
  display: inline;
  margin-left: 15px;
}

.new-icon {
  float: right;
  margin-right: 5px;
}

.row-text-para {
  font-size: 14px;
  margin-top: 15px;
  text-align: justify;
  color: #777;
}

.main-article-div img {
  height: 200px;
  width: 100%;
  display: block;
  margin: 20px 0;
}

.row-second-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.inner-col-grid-sec img {
  height: 200px;
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.row-btn {
  padding: 10px 0;
  width: 100%;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 900;
}

.row-second-head {
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
}

.row-second-para {
  font-size: 18px;
  margin: 25px 0;
  letter-spacing: 1px;
  line-height: 1.7;
  text-align: justify;
}

.next-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  margin-top: 160px;
}

.next-head {
  font-size: 30px;
  color: #000;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.next-topic {
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
}

.pin-image img {
  height: 180px;
  max-width: 100%;
}

.pin-text-head {
  font-size: 20px;
  margin: 30px 0;
  letter-spacing: 1px;
  text-align: left;
}

.pro-wrap {
  background-color: #e2e2e2;
  padding: 15px;
}

.pro-head {
  font-size: 20px;
}

.pro-sub {
  font-size: 20px;
}

.info-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  background-color: #000;
  padding-top: 20px;
}

.logo-image {
  height: 120px;
  max-width: 100%;
  display: block;
  padding: 15px 25px;
}

.club-info {
  font-size: 16px;
  color: #fff;
  text-align: justify;
  padding: 5px 25px;
}

.second-info-head {
  padding: 15px 0;
  color: #fff;
  font-size: 32px;
}

.link-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

.link-list li {
  color: #fff;
  margin: 10px 0;
  list-style: none;
}

.footer {
  background-color: #4472c4;
  height: 60px;
  width: 100%;
  margin: 35px 0 0 0;
  padding: 0;
}

.left-footer {
  float: left;
  padding: 15px;
  font-size: 20px;
  color: #fff;
}

.right-footer {
  float: right;
}

.right-footer ul li {
  list-style: none;
  display: inline;
  font-size: 20px;
  color: #fff;
}

.footer-inner {
  padding: 15px 20px !important;
  margin: 0 25px;
  font-size: 20px;
}

.footer-inner li {
  padding: 0 25px;
}

.banner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #000;
  width: 100%;
}

.banner-div h1 {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1100px) and (min-width: 100px) {
  .left-right-gap {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 900px) and (min-width: 736px) {
  .video-section-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }

  .vd_sec {
    background-color: #000;
    color: #fff;
  }
  .first-sec {
    grid-column: 1 / span 1;
  }

  .second-sec {
    grid-column: 1 / span 1;
  }

  .common-sec {
    grid-column: 1 / span 1;
  }
}

@media screen and (max-width: 1099px) and (min-width: 768px) {
  .inner-row-sections {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
    margin: 40px 0;
  }

  .row-image img {
    height: 120px;
  }

  .row-text-head {
    font-size: 16px;
    text-align: left;
  }

  .row-text-author {
    font-size: 16px;
    font-weight: 900;
    display: inline;
  }

  .row-text-date {
    font-size: 14px;
    color: #777;
    display: inline;
    margin-left: 15px;
  }

  .new-icon {
    float: right;
  }

  .row-text-para {
    font-size: 14px;
    margin-top: 15px;
    text-align: justify;
    color: #777;
  }

  .row-text-head-second {
    margin: 15px 0 !important;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 5px 0;
  }

  .row-text-author-second {
    font-size: 13px;
    font-weight: 900;
    display: inline;
  }
  .row-text-date-second {
    font-size: 12px;
    font-weight: 900;
    display: inline;
    color: #777;
    margin-left: 5px;
  }
}

@media screen and (max-width: 836px) and (min-width: 100px) {
  .inner-row-sections-new-info {
    margin: 10px 25px;
  }

  .info-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #000;
    padding-top: 20px;
  }

  .link-list {
    margin: 10px 25px;
  }
}

@media screen and (max-width: 636px) and (min-width: 100px) {
  .video-section-wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2px;
  }

  .vd_sec {
    background-color: #000;
    color: #fff;
  }

  .vd_sec div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .first-sec {
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
  }

  .second-sec {
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
  }

  .common-sec {
    width: 100%;
    height: 100%;
  }

  .main-article-div img {
    width: auto;
  }

  .inner-row-sections-three {
    display: grid;
    grid-template-columns: 1fr;
  }

  .inner-row-sections {
    display: grid;
    grid-template-columns: 1fr;
  }

  .banner-div {
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .top-bottom-gap {
    margin: 30px 0;
  }
  .theme-head {
    display: grid;
    grid-template-columns: 1fr;
  }

  .theme-head_text {
    margin: 35px 10px 5px 0;
  }

  .next-wrap {
    margin-top: 50px;
  }

  .second-info-head {
    padding: 15px 25px;
  }
}
