@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html,
body {
  font-family: "PT Sans", sans-serif;
}

body {
  line-height: 150%;
  background: #fafafa;
  position: relative;
  padding-bottom: 50px;
  height: 100vh !important;
}

img {
  font-weight: 900;
}

.page-container {
  max-width: 1240px;
  margin: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  margin-left: -130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown_mobile {
  margin-left: -0px !important;
  min-width: 300px !important;
}

.dropdown-content a {
  color: #5c5b5b !important;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  padding: 0.2rem 1rem !important;
}

.school__nameWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 20px 0;
}

.school__nameWrap--header {
  font-size: 20px;
  background-color: #fff;
  font-weight: 700;
  padding: 3px 10px;
}

.flex_wrap {
  height: 60vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 475px;
}

.flex_container_items {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  align-items: center;
}

.flex_container_items-one h1 {
  font-size: 14rem;
  margin: 0;
  padding: 0;
  color: #0c6666;
  font-weight: 900;
}

.flex_container_items-two {
  height: 155px;
  margin-bottom: 30px;
}

.flex_container_items-two h1 {
  font-size: 3.2rem;
  color: #0c6666;
  margin: 0;
  font-weight: 900 !important;
  padding: 0;
}

.section__nameWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  grid-gap: 25px;
  align-items: center;
  margin: 0 0 20px 0;
  width: 475px;
}

.section__nameWrap--btn {
  padding: 10px 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}

.academic--btn {
  background-color: #cc3433;
}

.curricular--btn {
  background-color: #006599;
}

.section__nameWrap--btn:hover {
  text-decoration: none;
  color: #fff;
}

.footer__section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #777;
}

.footer__section span {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}

/*Curricular Section*/
.page__header {
  text-align: center;
  overflow: hidden;
  margin: 25px 0;
}

.page__header span {
  display: inline-block;
  position: relative;
  font-size: 50px;
  color: #777;
}

.page__header span:before,
.page__header span:after {
  content: "";
  border-bottom: 4px solid #696969;
  width: 150px;
  margin: 0 20px;
  position: absolute;
  bottom: 25px;
}

.page__header span:before {
  right: 100%;
}

.page__header span:after {
  left: 100%;
}

.curricular__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  margin: 40px 0;
}

.curricular__wrap--card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.35s cubic-bezier(0.4, 0, 1, 1);
  margin-bottom: 20px;
  height: 130px;
}

.curricular__wrap--card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.curricular__info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 10px;
}

.left__curricular {
  background-color: #970102;
  height: 100px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100px;
}

.left__curricular--header {
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.right__curricular--header {
  color: #5c5b5b;
  font-weight: 900;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.right__curricular--para {
  color: #696969;
  font-weight: 600px;
  font-size: 16px;
  margin: 0;
  padding: 5px 0 0 0;
}

@media screen and (max-width: 600px) and (min-width: 100px) {
  .curricular__wrap {
    grid-template-columns: 1fr !important;
  }

  .dropdown-content {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .curricular__wrap {
    grid-template-columns: 1fr !important;
  }

  .dropdown-content {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 900px) and (min-width: 801px) {
  .curricular__wrap {
    grid-template-columns: 1fr 1fr !important;
  }

  .dropdown-content {
    margin-left: 0 !important;
  }
}

/*Web Resource Page*/
.resource__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resource__wrap--img {
  height: 300px;
  margin-bottom: 25px;
}

.resource__wrap--select {
  position: relative;
  width: 350px;
  color: #181818;
  margin: 35px 0;
}

.select-text {
  position: relative;
  background: none;
  width: 350px;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #4d4c4c;
  color: #696969;
}

.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.resource__wrap--select .select-text {
  appearance: none;
  -webkit-appearance: none;
}

.resource__wrap--select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

.select-label {
  color: rgba(0, 0, 0, 0.26);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  font-size: 20px;
  color: #181818;
  transition: 0.2s ease all;
}

.select-text:focus~.select-label,
.select-text:valid~.select-label {
  color: #181818;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 18px;
}

.select-bar {
  position: relative;
  display: block;
  width: 350px;
}

.select-bar:before,
.select-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #181818;
  transition: 0.2s ease all;
}

.select-bar:before {
  left: 50%;
}

.select-bar:after {
  right: 50%;
}

.select-text:focus~.select-bar:before,
.select-text:focus~.select-bar:after {
  width: 50%;
}

.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.search--btn {
  margin: 10px auto 40px auto;
  border-radius: 8px;
  text-align: center;
  display: block;
  background-color: #ffa422;
  color: #fff;
  padding: 8px 20px;
  width: 100px;
  text-decoration: none;
  text-transform: uppercase;
}

.search--btn:hover {
  text-decoration: none;
  color: #fff;
}

/*Dashboard Css*/

button:active,
button:focus {
  outline: none !important;
}

select:active,
select:hover {
  outline: none;
}

.topic__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0 0 20px 0;
  background-color: #484848;
  padding: 5px 15px;
}

.topic__header {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
  text-shadow: 0 2px 4px #00000033;
}

.select_wrap {
  width: 100%;
  margin: 5px 0;
}

.select_topic {
  border: none;
  background: none;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  padding-right: 5px;
}

.select_topic:focus {
  outline: none;
}

.select_topic option {
  color: #5c5b5b !important;
  font-weight: 500;
  font-size: 15px;
}

.select_topic option:hover {
  background: none !important;
}

option:focus {
  outline: none;
}

.dropdown-menu {
  display: none;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-menu a {
  color: #5c5b5b !important;
  padding: 5px 16px;
  text-decoration: none;
  font-weight: 700;
  display: block;
}

.dropdown-menu a:hover {
  color: #4d4d4d !important;
  text-decoration: none;
}

.main-content {
  position: relative;
}

.main-content .owl-theme .custom-nav {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
}

iframe {
  width: 100%;
  height: 354px;
  border: none !important;
}

.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 353px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  z-index: 100;
  width: 50px;
  margin: 0;
  transition: all 0.3s ease-in;
}

.main-content .owl-theme .custom-nav .owl-prev:hover,
.main-content .owl-theme .custom-nav .owl-next:hover {
  background-color: #363636 !important;
}

.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
  font-size: 3rem;
  color: #f6f7f8;
}

.main-content .owl-theme .custom-nav .owl-prev {
  left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
  right: 0;
}

.videoCarouselHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f1f1f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.videoCarouselHeader i {
  padding: 0 3px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.videoCarouselIcons:hover {
  color: #181818;
}

#heart.red {
  color: #990000;
}

.sections {
  padding: 5px 0;
}

.section__header {
  color: #181818;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  padding: 5px;
  letter-spacing: 1px;
}

.product-carousel {
  box-sizing: border-box;
  width: 100%;
}

.product-carousel .product {
  box-sizing: border-box;
  text-align: center;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0,
      #181818 100%);
  border-radius: 10px;
}

.product-carousel .product-top {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.inner_product {
  position: absolute;
  z-index: 999;
  top: 72%;
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0 10px;
}

.inner_productTitle {
  font-size: 14px;
  background-color: #181818;
  padding: 3px;
  color: #f5f6f7;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  text-align: center;
  margin: 0;
}

.inner_productTitleLink {
  font-size: 16px;
  background-color: #990000;
  padding: 5px;
  color: #f5f6f7;
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  text-shadow: 0 2px 4px #00000033;
}

.inner_productTitleLink:focus {
  outline: none;
}

.inner_productTitleLink:hover {
  background-color: #750404;
  text-decoration: none;
  color: #fff;
}

.inner_productDescription {
  font-size: 15px;
  color: #fff;
  text-align: left;
  padding: 1px 0;
  margin: 0;
}

.product-image {
  align-self: flex-start;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  height: 220px;
  border-radius: 10px;
}

.product-image:focus {
  outline: none;
}

.product-top:focus {
  outline: none;
}

.product_info {
  position: absolute;
  width: 100%;
}

.product_info a {
  text-decoration: none !important;
}

.product_info h1 {
  font-size: 14px;
  background-color: #fff;
  font-weight: 700;
  padding: 3px;
  border: 2px solid #181818;
  color: #181818 !important;
  display: inline-block;
  margin-top: 15px;
  border-radius: 100px;
}

.activity-head {
  font-size: 24px;
  color: #4d4d4d;
  font-weight: 900;
}

.activity-desc {
  font-size: 16px;
  color: #5c5c5c;
  font-weight: 600;
}

.btn-upload {
  background-color: #ffa323;
  padding: 8px 15px !important;
  border-radius: 10px !important;
  font-size: 20px !important;
  color: #fff !important;
  border: 1px solid #ffa323;
  margin: 0 auto 20px auto !important;
  display: block !important;
}

.upload-icon {
  margin-left: 10px;
}

.click {
  font-size: 18px;
  color: #fafafa;
  position: absolute;
  cursor: pointer;
  text-align: right;
  display: inline-block;
  padding: 7px 0;
  z-index: 1;
  -webkit-transition: font-size 0.25s ease-in;
  -moz-transition: font-size 0.25s ease-in;
  -o-transition: font-size 0.25s ease-in;
  transition: font-size 0.25s ease-in;
  top: 0;
  left: 0;
  right: 3px;
}

.click i {
  padding: 0 1px;
}

.click:before {
  content: "";
  width: 90px;
  height: 90px;
  background-image: radial-gradient(circle at 100% 0,
      rgba(0, 0, 0, 0.9) 5%,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0));
  z-index: -1;
  display: block;
  position: absolute;
  right: -4px;
  top: 1px;
  border-radius: 8px;
}

.click span {
  z-index: 999;
}

.div_start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.div_start h2 {
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000000;
}

.class-info-para {
  color: #4d4b4b;
  font-size: 16px;
}

.class-activity-header {
  margin: 15px auto;
  padding: 0;
  font-size: 22px;
  color: #5c5b5b;
  text-align: center;
}

.enter-club-btn {
  display: block;
  margin: 20px auto 5px auto;
  width: fit-content;
  text-align: center;
  background-color: #5c5b5b;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.enter-club-btn:hover {
  background-color: #4d4d4d;
  color: #fff;
  text-decoration: none;
}

/*Co-Curricular CSS*/
.co-card {
  height: 130px;
}

.co-header {
  font-size: 22px;
}

.co-image-div {
  height: 100px;
  width: 100px;
}

.co-image-div img {
  height: 100px;
  object-fit: contain;
  width: 90px;
  margin: 0 auto;
  display: block;
}

.rif {
  font-size: 1.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  cursor: pointer;
}

.rif label {
  margin: 0 !important;
}

.rif-font {
  font-size: 0.9em;
  transition: color 0.2s;
  cursor: pointer;
  color: #aaa;
}

.rif-font i {
  font-size: 1em;
}

.rif-checkbox {
  display: none;
}

.rif-checkbox:checked+.rif-font {
  color: #990000;
}

.rif-checkbox:checked+.rif-font i {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation-name: beat;
  animation-name: beat;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  30% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  30% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  margin: 10px 0 !important;
}

hr {
  margin: 0 !important;
}

/*Common Page Css*/
.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.wrap-contact100 {
  width: 600px;
  background: #fff;
  border-radius: 8px;
  position: relative;
  margin-top: 55px;
  padding: 50px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.contact100-form-symbol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background: #fff;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-size: 38px;
  color: #696969;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 15px;
}

.wrapper__header {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
  border-bottom: 2px solid #2f99cd;
}

.textareaWrapper {
  height: 400px;
  border: 1px solid #696969;
  border-radius: 8px;
}

.textareaWrapper:focus {
  outline: none !important;
}

.wrap-input100 {
  width: 400px;
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  color: #333333;
  line-height: 1.2;
  border: none;
}

.input100:focus {
  outline: none;
}

.wrap-input100 ::placeholder {
  text-align: center;
}

input.input100 {
  height: 310px;
  padding: 0 20px 0 25px;
  font-size: 18px;
}

.textareaWrapperBtn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa422;
  border: 1px solid #ffa422;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  width: 150px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  transition: all 0.5s ease;
  cursor: pointer;
}

.textareaWrapperBtn:hover {
  color: #fff;
  background-color: #ffa422;
  border: 1px solid #ffa422;
}

.prevBtn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  border: 1px solid #777;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  width: 400px;
  margin: 0 auto;
  font-size: 18px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.ask__icon {
  font-size: 32px;
  color: #5c5b5b;
}

.prevBtn:hover {
  color: #fff;
  background-color: #4e4e4e;
  text-decoration: none;
}

@media (max-width: 768px) {
  .wrap-input100.rs1 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 92px 15px 88px 15px;
  }

  .contact100-form-btn {
    width: 100%;
  }
}

.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  align-items: center;
}

.common--card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.35s cubic-bezier(0.4, 0, 1, 1);
  margin: 0 0 10px 0;
  padding: 10px 20px;
  height: auto;
}

.common--card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.inner__common--card {
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 120px 1fr;
  grid-gap: 15px;
}

.favourite_left img {
  height: 100px;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

.favourite_right h1 {
  font-size: 20px;
  font-weight: 600;
  color: #4d4d4d;
  margin: 0 0 10px 0;
}

.remove-fav {
  text-decoration: none !important;
}

.remove-fav i {
  color: #5c5b5b;
}

.remove-fav span {
  color: #5c5b5b;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-left: 3px;
}

.remove-fav span:hover {
  color: #4d4d4d !important;
  text-decoration: none !important;
}

.info {
  font-size: 14px;
  font-weight: 600;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.3s ease;
}

.info-tog {
  color: #ffff;
  top: 5px;
  opacity: 1;
}

.response_wrap {
  padding: 0 15px;
}

.response_wrap h1 {
  font-size: 24px;
  color: #5c5b5b;
  font-weight: 900;
  padding: 10px 0;
}

.response_wrap p {
  font-size: 17px;
  color: #777;
  text-align: justify;
  font-weight: 700;
}

.response_wrap h2 {
  font-size: 20px;
  color: #5c5b5b;
  font-weight: 900;
  padding-bottom: 10px;
}

.question_head {
  font-size: 24px;
  font-weight: 900;
  color: #363636;
  margin: 0 0 10px 0;
}

.question_topic {
  background-color: #2f99cd;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  margin: 0 0 3px 0;
  border-radius: 5px;
}

.question_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
}

.question_status {
  font-size: 18px;
  color: #28a745;
  font-weight: 600;
  margin: 0;
}

.question_date {
  width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: 15px;
  color: #363636;
  margin: 0;
}

.color_wrap {
  background-color: #ffcc33 !important;
  height: 100%;
}

.discussion {
  max-width: 600px;
  margin: 0 auto 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.chat {
  border-radius: 1em;
  padding: 0.25em 0.75em;
  margin: 0.0625em;
  max-width: 50%;
  cursor: default;
}

.recipient {
  align-self: flex-end;
  background-color: #ccc;
  color: #181818;
  font-weight: 700;
}

.chat_info {
  border-bottom-right-radius: 0.1em;
}

.comment-date {
  color: #5c5b5b;
  font-size: 20px;
  font-weight: 600;
  cursor: default;
  margin-right: 5px;
}

.video_frame_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.video_frame_wrap {
  display: grid;
  grid-template-columns: 170px 1fr;
  margin: 5px 0;
}

.activity_iframe_videos {
  height: 100px;
  width: 160px;
}

.video_iframe_info h1 {
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
  display: block !important;
}

.video_iframe_info span {
  background-color: #484848;
  padding: 3px;
  color: #fff;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;
  display: block;
  margin: 5px 0;
  width: fit-content;
}

.feedback-submit-btn {
  background-color: #ffa422 !important;
  border: 1px solid #ffa422 !important;
  color: #fff !important;
  padding: 4px 15px !important;
  font-size: 20px !important;
}