header {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
}
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}
.page {
  background-color: #fbcb31;
  font-size: 28px;
  width: 100%;
}
.font {
  font-size: 20px;
}
input[type="radio"] {
  margin: 0px 0px 0px 20px;
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox; /* Firefox */
}
.spacing {
  margin: 0px 0px 0px 30px;
}
.gender_rad {
  margin: 0px;
}
input[type="text"] {
  width: 30%;
  align-items: center;
}

.__btn {
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(202, 71, 71);
  margin: 20px 0;
}

input[type="time"] {
  margin: 10px 0px 10px 30px;
  width: 20%;
}
.timeSection {
  background-color: #fbcb31;
  font-size: 16px;
  margin: 10px 0px 10px 30px;
}
