@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html,
body {
  line-height: 150%;
  height: 100%;
  cursor: default;
  font-family: "PT Sans", sans-serif;
  background-color: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

i span {
  font-family: "PT Sans", sans-serif;
}

img {
  font-weight: 900;
}

.navbar {
  padding: 0.2rem 1rem !important;
}

.navbar-brand span {
  color: #ce1f36;
  font-weight: 900;
  font-size: 24px;
  padding-top: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/images/list-menu.png") !important;
}

.navbar-light .navbar-toggler {
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(196, 194, 194, 0.1) !important;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  margin-left: -60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_mobile {
  margin-left: -0px !important;
  min-width: 300px !important;
}

.dropdown-content a {
  color: #5c5b5b;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 700;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Banner Section*/
.banner-section {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  flex-flow: column wrap;
  background-image: url("../images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 100vh !important;
  min-height: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.banner-section h1 {
  font-size: 80px;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.banner-btn-div {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.banner-btn {
  display: block;
  padding: 10px 40px;
  border-radius: 3px;
  color: #363636;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 600;
}

.banner-btn:hover {
  text-decoration: none;
  color: inherit;
  transform: translateY(-2px);
}

.banner-btn:active {
  text-decoration: none;
  transform: translateY(0);
}

.start-btn {
  background-color: #efcc00;
}

.learn-btn {
  background-color: #fff;
}

.start-btn:hover {
  background-color: #ffd901;
}

.about-info {
  background-color: #e6e6e6;
}

.about-info-header {
  text-align: center;
  color: #5c5b5b;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 50px;
  display: block;
}

.about-info-header:after {
  content: "";
  width: 80px;
  height: 4px;
  border-bottom: 4px dotted #006666;
  -webkit-transform: none;
  transform: none;
  top: 90%;
  display: block;
  margin: 10px auto 30px auto;
}

.pd-100 {
  padding: 100px 0;
}

.about-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  grid-gap: 40px;
  margin: 20px 0;
}

.about-info-card {
  background: #ffffff;
  border-radius: 4px;
  height: 100%;
  padding: 40px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.about-info-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.about-info-img {
  height: 100px;
  margin: 0 auto 20px auto;
  display: block;
}

.about-info-head {
  font-size: 28px;
  color: #006666;
  text-align: center;
  font-weight: 700;
  margin: 0 0 30px 0;
  padding: 0;
  text-transform: uppercase;
}

.about-info-para {
  color: #7e7e7e;
  font-size: 16px;
  text-align: justify;
  font-weight: 600;
}

.more-info-link {
  color: #4d4d4d;
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 900;
}

.modal-body-para {
  color: #7e7e7e;
  font-size: 16px;
  text-align: justify;
  font-weight: 600;
}

.more-info-link:hover {
  color: #181818;
  text-decoration: none;
}

/*form styles*/

.limiter {
  width: 100%;
  margin: -50px auto 0 auto;
}

.container {
  max-width: 1200px !important;
}

.container-login100 {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.form-wrapper {
  width: 100%;
  text-align: center;
  /* position: relative; */
  margin-right: auto;
  margin-left: auto;
}

.form-wrapper section {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  /* position: absolute; */
}

/*Hide all except first fieldset*/
.form-wrapper section:not(:first-of-type) {
  display: none;
}

/*inputs*/
/* .form-wrapper input {
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
} */

/*buttons*/
.form-wrapper .action-button {
  width: 250px;
  background: #efcc00;
  color: #181818;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px 5px;
  font-size: 18px;
  font-weight: 600;
}

.form-wrapper .action-button:hover,
.form-wrapper.action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #d4b503;
}

/*headings*/
.fs-title {
  font-size: 28px;
  font-weight: 700;
  color: #006666;
  margin-bottom: 10px;
}

/*progressbar*/
#progressbar {
  margin: 50px 0 20px 0;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #181818;
  font-size: 18px;
  font-weight: 700;
  width: 50%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  line-height: 20px;
  display: block;
  font-size: 18px;
  color: #333;
  padding-top: 10px;
  background: white;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #efcc00;
  color: #181818;
  font-size: 18px;
}

.previous {
  background-color: #333;
  margin: 30px auto 0 auto;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #333;
  cursor: pointer;
  display: block;
}

.section__inner {
  margin: 0 0 40px 0;
}

.common-head {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px 0;
  display: block;
  color: #5c5b5b;
  text-align: left;
}

.md-radio {
  margin: 35px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-items: flex-start;
}

.md-radio.md-radio-inline {
  display: inline-block;
}

.md-radio input[type="radio"] {
  display: none;
}

.md-radio input[type="radio"]:checked + label:before {
  border-color: #337ab7;
  animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}

.md-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
  color: #5c5b5b;
}

.md-radio label:before,
.md-radio label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}

.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}

.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #337ab7;
}

.__btn {
  border: 0;
  outline: none;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #3498db;
  position: relative;
  border: 2px solid #3498db;
  cursor: pointer;
  margin: 15px 0 0 0;
  width: 100%;
}

.submit-btn_new {
  width: 300px;
  display: block;
  margin: 30px auto 10px auto;
  background-color: #484848;
  color: #fff;
  padding: 10px 40px;
  border: 1px solid #484848;
  cursor: pointer;
  transition: all 1s ease;
}

.submit-btn_new:hover {
  background-color: #444444;
}

.area_select {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #ced4da;
  text-align: center;
  font-weight: 700;
  border-radius: 3px;
}

.language_field {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #ced4da;
  font-weight: 700;
}

.text-area_exam {
  border: 1px solid #ced4da;
  width: 100%;
  height: 100px;
  padding: 8px;
}

.upload_new-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  align-items: center;
  justify-items: flex-start;
}

/*Footer*/
.footer-distributed {
  background: #666;
  box-sizing: border-box;
  width: 100%;
  text-align: center !important;
  padding: 10px 0;
  margin-top: 30px;
}

@media screen and (max-width: 526px) and (min-width: 100px) {
  .about-info-grid {
    grid-template-columns: 1fr !important;
  }

  .upload_new-wrap {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 736px) and (min-width: 527px) {
  .about-info-grid {
    grid-template-columns: 1fr 1fr !important;
  }

  .upload_new-wrap {
    grid-template-columns: 1fr 1fr !important;
  }
}

input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.label-input100 {
  font-size: 15px;
  color: #888;
  line-height: 1.5;
  padding-left: 5px;
  text-align: left !important;
  display: block;
}
.input100 {
  display: block;
  width: 100%;
  background: 0 0;
  font-size: 18px;
  color: #555 !important;
  padding: 0 5px;
  border: none;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #006666;
}

textarea.input100 {
  min-height: 80px;
  padding: 3px;
}
.input100:focus + .focus-input100::before {
  width: 100%;
}

select:active,
select:focus {
  outline: none !important;
}
