@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 280px;
  -webkit-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
}

.main-content {
  width: 100%;
  background-color: #f0f0f0;
}

.main-content-inner {
  padding: 0 30px 50px;
}

.sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 280px;
  overflow: hidden;
  background: #303641;
  box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar-header {
  padding: 50px 0 20px 0;
}

.sidebar-menu .logo {
  text-align: center;
}

.logo a {
  display: inline-block;
}

.logo img {
  max-width: 120px;
}

.side-nav-wrapper {
  height: 100vh;
}

.side-nav_list {
  margin: 0 25px;
}

.side-nav_list li {
  list-style: none;
  margin: 25px 0;
}

.side-icons {
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: #b4baca;
  margin-right: 10px;
}

.side-icons:hover {
  color: #fff;
}

.side-nav_links {
  color: #b4baca;
  font-size: 17px;
  font-weight: 500;
  /* margin: 0 10px; */
  text-decoration: none;
  text-transform: uppercase;
}

.side-nav_links:hover {
  color: #fff;
  text-decoration: none;
}

.footer-wrap {
  position: absolute;
  bottom: 0;
  margin: 25px 0 25px 25px;
}

.copy-text {
  font-size: 10px;
  color: #b4baca;
  padding: 0;
}

.footer-wrap a {
  color: #b4baca;
  text-decoration: none;
  font-size: 14px;
}

.footer-wrap span {
  color: #b4baca;
}

.footer-wrap a:hover {
  color: #fff;
}

.right_topNav {
  box-shadow: 0 10px 6px -6px #777;
  height: 80px;
  width: 100%;
}

.inner-topNav {
  max-width: 1000px;
  margin: auto;
}

.topNav_first {
  font-size: 16px;
  text-transform: uppercase;
  color: #86898e;
  flex: 1;
  margin: 0;
  font-weight: 900;
}

.topNav_first_name {
  font-size: 16px;
  color: #86898e;
  flex: 1;
  margin: 0 0 0 30px;
}

.topNav_first span {
  color: #d12d31;
}

.nav-icons {
  color: #989b9b;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.nav-icons:hover {
  color: #d12d31;
}

.icon-li {
  margin: 0 3px;
}

.topNav_name {
  font-size: 14px;
  color: #929196;
  margin-left: 20px;
  cursor: default;
}

.icon-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.icon-wrap img {
  margin: 0 20px 0 -30px;
}

/*Right Header*/

.new-container {
  max-width: 1000px;
  margin: auto;
}

.header-row {
  margin: 20px 0 0 0;
}

.header-text {
  margin: 30px 0 0 0px;
  font-size: 28px;
  font-weight: 700;
  color: #303641;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-radius: 2px;
}

.header-text span {
  color: #d12d31;
  margin-left: 10px;
}

.header-text_subs {
  color: #d12d31;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 5px;
  padding: 0;
  margin-top: 4px;
  font-weight: 700;
}

/* ===== Select Box ===== */
.sel {
  font-size: 16px;
  display: inline-block;
  width: 295px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin: 25px 15px 5px 15px;
  background-color: #fff;
}

.sel::before {
  position: absolute;
  content: "\f0b0";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 700;
  color: #838e95;
  right: 8px;
  font-size: 20px;
  padding: 0;
  margin-bottom: 10px !important;
  top: calc(50% - 0.8em);
}

/* .sel.active::before {
  transform: rotateX(-180deg);
} */

.sel__placeholder {
  display: block;
  font-size: 18px;
  color: #838e95;
  padding: 10px 15px;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #fff;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-size: 1.5em;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

.sel--black-panther {
  z-index: 3;
}

.hr_under_one {
  border-bottom: 8px solid #d12d31;
  margin-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.hr_under {
  border-bottom: 8px solid #4a5666;
  margin-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.hr-new {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 17px;
}

.hr-new_one {
  color: #4a5666;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 4px;
  font-weight: 700;
}

.one_margin {
  margin-left: 15px;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*Clubs List*/

.inner-clubs-div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 15px;
}

.inner-clubs_text {
  font-size: 20px;
  color: #777;
  background-color: #fff;
  padding: 15px 25px;
  margin: 10px 0;
  text-transform: uppercase;
}

.inner-clubs-div li {
  list-style: none;
}

.inner-clubs_text_span {
  color: #696969;
  font-weight: 900;
}

.inner_span {
  float: right;
  padding-right: -50px;
}

.club-inner_icons {
  background-color: #d12d31;
  padding: 6px;
  border-radius: 100px;
  color: #fff;
  font-size: 16px;
}

.two_half {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .topNav_first {
    font-size: 14px;
  }
}

/*Form Css*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  max-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login100 {
  width: 800px;
  background: #fff;
  position: relative;
  padding: 0 40px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin: 25px 0 25px 0;
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-b-55 {
  padding-bottom: 25px;
}

.p-t-55 {
  padding-top: 40px;
}

.__head {
  font-size: 28px;
  color: #696969;
  font-weight: 900;
  text-decoration: underline;
  text-align: left;
  margin-bottom: 30px;
}

.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-size: 16px;
  line-height: 1.5;
}

.pure-material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

.pure-material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.pure-material-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

.pure-material-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
  border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

.pure-material-checkbox:hover > input {
  opacity: 0.04;
}

.pure-material-checkbox > input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
  opacity: 0.16;
}

.pure-material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

.pure-material-checkbox > input:disabled {
  opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

.row-wrapper {
  display: grid;
  grid-template-columns: 200px 100px 220px 175px;
  align-items: center;
  margin: 25px 0;
}

.row--head {
  font-size: 24px;
  color: #777;
  font-weight: 700;
}

.row--list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.row--list li {
  margin: 0 15px;
  color: #777;
  font-size: 20px;
  font-weight: 500;
}

.row--link {
  color: #fff;
  font-size: 18px;
  background-color: #d12d31;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.row-submit-btn {
  margin: 40px auto 10px auto;
  display: block;
  background-color: #363636;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.5s ease;
  border: 2px solid #363636;
}

.row-submit-btn:hover {
  color: #363636;
  background-color: #fff;
}
