@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #4fda8c;
}

body {
  color: #666;
  background-color: #f1f2f2;
}
