* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #363636;
}

.nav__main {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 20px;
    padding: 15px;
}

.nav__main li {
    list-style: none;
    color: #fff;
}

.logo-list {
    font-size: 28px;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo-list:hover {
    color: #f1c40f;
}

.logout-link {
    color: #363636;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 14px;
    background-color: #f1f2f6;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 900;
}

.logout-link:hover {
    color: #f1b10f;
}

.secondary-icons {
    margin-left: 3px;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-description {
    padding: 35px 10px 10px 10px;
}

.description_header {
    font-size: 32px;
    letter-spacing: 2px;
    color: #363636;
    text-transform: uppercase;
    word-spacing: 1px;
}

hr {
    height: 5px;
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first__section-header {
    font-size: 24px;
    color: #363636;
    letter-spacing: 2px;
    word-spacing: 1px;
    text-transform: uppercase;
    margin: 50px 10px 10px 10px;
}

.first-column-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 30px 10px;
}

.gap {
    flex: 1;
    margin: 15px 10px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.gap:hover {
    background-color: #f1c40f;
    color: #fff;
}

.inner-link {
    color: #000;
    text-decoration: none;
}

.inner-link:hover {
    color: #fff;
}

.inner-icons {
    font-size: 22px;
    margin-top: 20px;
}

.inner-icons:hover {
    color: #fff;
}

.inner-header {
    font-size: 15px;
    letter-spacing: 1px;
}

.box:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.box:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.footer {
    background-color: #1e252b;
    margin-bottom: 0;
    width: 100%;
}

.footerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 15px;
}

.footerInner h1 {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.page-description-header {
    height: 150px;
    width: 100%;
    background-color: #f1c40f;
}

.page-description-text {
    font-size: 32px;
    padding-top: 50px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 1px;
}

.page-form {
    height: auto;
    width: 400px;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 35px 20px 0 20px;
}

.form-field {
    display: block;
    padding: 12px 10px;
    width: 100%;
    border: 2px solid #7b627f;
    outline: none;
    border-radius: 3px;
}

.form-textarea {
    display: block;
    padding: 12px 10px;
    width: 100%;
    border: 2px solid #7b627f;
    resize: none;
    outline: none;
    border-radius: 3px;
}

.form-select {
    display: block;
    padding: 12px 10px;
    width: 100%;
    border: 2px solid #7b627f;
    outline: none;
    border-radius: 3px;
}

::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.vendor__select {
    margin: 5px 0;
    background-color: #363636;
    padding: 5px 10px;
    width: 150px;
    color: #f1c40f;
    border: 1px solid #363636;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

select {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.submit__btn {
    width: 100%;
    padding: 12px 10px;
    background-color: #f1c40f;
    border: 1px solid #f1c40f;
    color: #fff;
    font-size: 20px;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    font-family: "Raleway", sans-serif;
}

.submit__btn:hover {
    background-color: #f1b10f;
}

#page-table {
    font-family: "Raleway", sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin: 50px 0;
    table-layout: auto;
}

#page-table td,
#page-table th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: default;
    letter-spacing: 2px;
    font-size: 14px;
}

#page-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#page-table tr:hover {
    background-color: #ddd;
}

#page-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #363636;
    color: white;
}

.home_link {
    display: block;
    text-align: center;
    margin: 50px auto;
    font-size: 22px;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #2c3e50;
    width: 300px;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
}

.Add_btn {
    background-color: #363636;
    color: #fff;
    border-radius: 100px;
    padding: 10px 40px;
    width: 300px;
}

.__select {
    margin: 5px 0;
    background-color: #363636;
    padding: 5px 10px;
    width: 100%;
    color: #f1c40f;
    border: 1px solid #363636;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) and (min-width: 100px) {
    .admin_name {
        display: none;
    }

    .menu {
        display: block;
    }

    .description_header {
        font-size: 20px;
    }
}