*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    overflow: hidden;
    background-color: #efefef;
}

.image-container{
    height: auto;
    position: relative;
    width: 70%;
    margin: 5% 15% 5% 15%;
}

.image-container img{
    width: 100%;
}

.image-container:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, rgba(190, 147, 197, 0.6) 0%, rgba(156, 172, 200, 0.35) 50%, rgba(123, 198, 204, 0.61) 100%);
    background: -o-linear-gradient(bottom, rgba(190, 147, 197, 0.6) 0%, rgba(156, 172, 200, 0.35) 50%, rgba(123, 198, 204, 0.61) 100%);
    background: -ms-linear-gradient(bottom, rgba(190, 147, 197, 0.6) 0%, rgba(156, 172, 200, 0.35) 50%, rgba(123, 198, 204, 0.61) 100%);
    background: -moz-linear-gradient(bottom, rgba(190, 147, 197, 0.6) 0%, rgba(156, 172, 200, 0.35) 50%, rgba(123, 198, 204, 0.61) 100%);
    background: linear-gradient(to top, rgba(190, 147, 197, 0.6) 0%, rgba(156, 172, 200, 0.35) 50%, rgba(123, 198, 204, 0.61) 100%);
}





















