* {
  margin: 0;
  padding: 0;
  font-family: Google Sans, Arial, sans-serif;
}

body {
  background-color: #fcf9f4;
}

.nav-div {
  width: 100%;
  background-color: #ffc97c;
}

nav {
  background-color: #ffc97c;
  color: #fcf9f4;
  position: relative;
  padding: 10px 0;
  max-width: 1068px;
  margin: auto;
}
@media all and (min-width: 636px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
  }
}
@media all and (min-width: 637px) and (max-width: 10000px) {
  nav {
    flex-direction: row;
  }
}

.brand {
  text-align: center;
  cursor: pointer;
}

.links {
  height: 64px;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  display: none;
}
@media all and (max-width: 10000px) and (min-width: 637px) {
  .links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
.links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fcf9f4;
  text-decoration: none;
  height: 64px;
  padding: 0 10px;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
}
.links a i {
  margin-right: 5px;
  font-size: 18px;
  transform: translateY(-1px);
}

.menu {
  position: absolute;
  width: 24px;
  height: 16px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.4s ease-out;
}
@media all and (min-width: 100px) and (max-width: 100px) {
  .menu {
    display: none;
  }
}
.menu::before,
.menu::after,
.menu__middle {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fcf9f4;
  position: absolute;
  left: 0;
}
.menu::before {
  top: 0;
}
.menu::after {
  bottom: 0;
}
.menu__middle {
  top: 50%;
  transform: translateY(-50%);
}
.menu.open {
  transform: translateY(-50%) rotate(90deg);
}

.active-border {
  opacity: 0;
  height: 5px;
  content: "";
  background-color: #fcf9f4;
  position: absolute;
  bottom: -1px;
  left: -30px;
  right: 30px;
  transition: left 0.5s ease-out, right 0.5s ease-out, opacity 0.1s;
}

.mobile-nav {
  background-color: #fcf9f4;
  position: fixed;
  top: 100px;
  bottom: 0;
  width: 100%;
  padding: 0px 10px;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  transform: scale(0.9);
  transition: all 0.3s ease-out;
}
.mobile-nav.open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
@media all and (min-width: 100px) and (max-width: 636px) {
  .mobile-nav {
    display: block;
  }
}

@media all and (min-width: 637px) and (max-width: 10000px) {
  .mobile-nav {
    display: block;
  }
}

@media all and (min-width: 637px) and (max-width: 10000px) {
  .menu {
    display: none;
  }
}
.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-nav li {
  margin: 10px 0;
  height: 80px;
}
.mobile-nav li a {
  border-radius: 5px;
  color: #333;
  text-decoration: none;
  height: 40px;
  display: inline-flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  transition: 0.8s;
}
.mobile-nav li a i {
  font-size: 26px;
  margin-right: 10px;
}
.mobile-nav li a:hover {
  background-color: #fff;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.07);
}
